@font-face {
  font-family: "Chakra Petch";
  src: url(./fonts/ChakraPetch-Regular.ttf);
}

@font-face {
  font-family: "Chakra Petch Italic";
  src: url(./fonts/ChakraPetch-Italic.ttf);
}

@font-face {
  font-family: "Chakra Petch Bold";
  src: url(./fonts/ChakraPetch-Bold.ttf);
}
