:root,
[theme="default"] {
  --color-primary: #5dbaca;
  --color-primary-bright: #c2e5eb;

  --color-secondary: #226f54;
  --color-secondary-dark: #0f5257;

  --color-accent: #eb6a33;

  --background-light: #f0d9d4;

  --text-color-bright: #f0d9d4;
  --text-color: var(--color-secondary);

  --modal-background: var(--color-secondary-dark);
  --tutorial-color: #ff8080;
}

[theme="dark"] {
  --color-primary: #fdca40;
  --color-primary-bright: #fedf8c;

  --color-secondary: #444444;
  --color-secondary-dark: #2f2f2f;

  --color-accent: #cd5134;

  --background-light: var(--color-secondary);

  --text-color-bright: #88a0a8;
  --text-color: var(--color-secondary);

  --modal-background: var(--background-light);
  --tutorial-color: #80ff80;
}

/* Fixed colors */
$color-brown: #695958;
$color-grey: #c6cbd1;
