$color-primary: #5dbaca;
$color-primary-bright: #c2e5eb;

$color-secondary: #226f54;
$color-secondary-dark: #0f5257;

$color-accent: #eb6a33;
$color-brown: #695958;
$color-grey: #c6cbd1;

$text-color-bright: #f0d9d4;
$text-color: $color-secondary;

$font: "Chakra Petch";
